h1{color:blue;} .container{margin-left:10%;}
.container1,.container2,.container3{float:left;margin-left:3%;}
.container2{width: 400px;font-size:15px;background-color:cornflowerblue;border-color:2px solid;color:white;
font-family:Arial, Helvetica, sans-serif ;text-align:center;padding: 2%;} .tot{font-size:24px;font-weight: bold;padding:2%;}
.container1{width:200px;height:200px;border-color:brown;background-color:brown;color:white;text-align:center;}